#Example run config
silent=True
hide_ui=False
name=cnn_test
evaluate_on_test=False
min_updates=5000
max_updates=5000
minibatch_size=32
eval_interval=10
learning_rate=0.0001
angle_lr=0.0001
max_sequence_length=200
training_file=validation
validation_file=validation
use_evolutionary=True
max_time=259200
#c_epochs=0
only_angular_loss=False
loss_atoms=c_alpha
max_restarts=10
breakpoints=500,1000,2000,5000

#Model parameters example for CNN
architecture=CNN
layers=5
output_size=60
#Specify kernel and padding for each layer or 1 value for same for all layers
kernel=51
padding=25
channels=80,80,80,80
dropout=0.5,0.5
#Dilation and stride can also be specified but will default to 1 for all layers